@font-face {
    font-family: "Avenir";
    font-style: normal;
    font-weight: normal;
    src: url("../font/AvenirLTStd-Roman.otf");
}

@font-face {
    font-family: "Avenir";
    font-style: normal;
    font-weight: bold;
    src: url("../font/AvenirLTStd-Black.otf");
}

ion-tabs {
    position: relative;
}

ion-tab-bar {
    position: absolute;
    bottom: 10px;
    width: calc(100% - 20px);
    left: 10px;
    border: none;
    border-radius: 16px;
    background-color: #fff;

    ion-tab-button {
        background-color: #fff;
    }

}

body {
    background-color: #f1f1f1;
}

.ion-page {
    overflow: hidden;
}

h1, p, a {
    color: #212121 !important;
    font-family: "Avenir";
    font-weight: normal;
}

h1 {
    font-weight: bold;
    font-size: 20px;
}

h2 {
    color: #9E9E9E !important;
    font-size: 16px;
    font-family: "Avenir";
    font-weight: bold;
    text-align: left;
}

h3 {
    color: #212121 !important;
    font-size: 14px;
    font-family: "Avenir";
    font-weight: bold;
    text-align: left;
}

.container {
    position: relative;
    transform: none;
    top: 0;
    padding-bottom: 30px;
}

ion-content {
    --background: #F1F1F1;
}

ion-button {
    --border-radius: 5px !important;
}

ion-content {
    --padding-start: 20px !important;
    --padding-end: 20px !important;
}