.greeting {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 16px;

    img {
        width: 50px;
    }
}

.daily-steps {
    background-color: #274039;
    padding: 20px 30px;
    display: flex;
    flex-direction: column;
    gap: 15px;
    align-items: center;
    border-radius: 5px;
    margin-bottom: 20px;
    box-shadow: 2px 16px 19px rgba(0, 0, 0, 0.1);

    p {
        color: #fff !important;
        text-align: center;
    }

}

.weekly-stats {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 10px;

    > div {
        gap: 25px;
        padding-left: 10px;
        padding-right: 10px;

        .valuestring p {
            font-weight: bold;
            color: #000;
            text-align: center;
            margin: 0 0 5px;
        }

        .label p {
            color: #C1C1C1 !important;
            font-size: 12px;
            text-align: center;
            margin: 0;
        }
    }
}

.circular-progress-bar {
    &.OverviewSteps, &.OverviewDistance, &.OverviewPlace, &.CourtPlace, &.CourtSteps, &.AllCourtsPlace, &.AllCourtsSteps {
        position: relative;
        margin: 0;

        svg {
            margin-bottom: 15px;


            path {
                stroke-width: 6px;
            }
        }

        &:before {
            content: "";
            background-image: url("/public/images/arrow.png");
            width: 40px;
            height: 40px;
            position: absolute;
            left: 50%;
            top: calc(50% - 10px);
            transform: translate(-50%, -100%);
            background-size: contain;
        }
    }

    &.OverviewSteps:before, &.CourtSteps:before, &.AllCourtsSteps:before {
        background-image: url("/public/images/steps.png");
    }

    &.OverviewPlace:before, &.CourtPlace:before, &.AllCourtsPlace:before {
        background-image: url("/public/images/trophy.png");
    }

    .CircularProgressbar-path {
        stroke: #274039 !important;
    }
}

.weekly-challenges {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 10px;

    .challenge {
        display: grid;
        grid-template-columns: 1fr auto;
        grid-gap: 10px;
        text-align: left;
        justify-items: start;
        background-color: #fff;
        padding: 10px 15px 10px 70px;
        border-radius: 5px;
        box-shadow: 2px 16px 19px rgba(0, 0, 0, 0.1);
        position: relative;
        width: 100%;

        > div {
            p:first-of-type {
                font-weight: bold;
                margin: 0;
            }

            p.counter {
                color: #9E9E9E !important;
                font-size: 14px;
                margin: 5px 0 0;
            }
        }

        p.status {
            background-color: #f7f7f7;
            padding: 0 5px 0 25px;
            height: min-content;
            font-size: 14px;
            color: #B44646 !important;
            position: relative;
            border-radius: 2px;
            margin: 0;
            line-height: 1.6;

            &:before {
                content: '';
                background-image: url("/public/images/play.svg");
                width: 18px;
                height: 18px;
                background-size: contain;
                position: absolute;
                left: 2px;
                top: 0;
            }
        }



        &:before {
            content: '';
            background-image: url("/public/images/clock.png");
            width: 30px;
            height: 30px;
            background-size: contain;
            position: absolute;
            left: 20px;
            top: 50%;
            transform: translateY(-50%);
        }
    }

    &.done .challenge {
        p.status {
            color: #46B451 !important;

            &:before {
                background-image: url("/public/images/check-circle.png");
            }
        }
    }
}