.NavStats {
    background: #F1F1F1;
    padding-top: 10px;
    padding-bottom: 20px;
    position: fixed;
    z-index: 1;
    top: 45px;
    width: 100%;

    .buttonContainer {
        display: flex;
        gap: 10px;
    }

    button.secondary {
        background: #fff;
        color: #223832;
        border-radius: 5px;
        padding: 10px;
        font-size: 16px;
        box-shadow: 2px 16px 19px rgba(0, 0, 0, 0.1);

        &:hover, &:active, &:focus {
            background: #223832;
            color: #fff;
        }
    }
}

.chartText {
    h2 {
        margin: 0;
        color: #000 !important;
        font-weight: bold;
        font-size: 64px;
    }

    p {
        margin: 0;
    }
}

.wrapper {
    background-color: #fff;
    box-shadow: 2px 16px 19px rgba(0, 0, 0, 0.1);
    margin-bottom: 10px;
    padding: 20px 10px;
    border-radius: 12px;
}

.flex {
    display: flex;
    gap: 10px;
}